@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Md. Golam Mostafa<br />
        Dhaka, Bangladesh<br />
        <abbr title="Phone">P:</abbr>
       01886621899
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:gmostafa358@gmail.com">gmostafa358@gmail.com</a><br />
        
    </address>
</main>